.prices {
    @include box;
    position: relative;
    height: 512px;
    width: 100%;
    padding-bottom: 100px;
    margin: 100px 0 0 0;

    @media (max-width: 1280px) {
        display: block;
        overflow: hidden;
        position: relative;
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 500px) {
        margin: 0 0 0 0;
    }

    @media (max-width: 414px) {
        margin: -220px 0 50px 0;
    }

    @media (max-width: 411px) {
        margin: -220px 0 50px 0;
    }

    @media (max-width: 400px) {
        margin: -220px 0 50px 0;
    }

    .title {
        position: relative;
        text-align: center;

        @media (max-width: 1000px) {
            margin: 0 0 53px 0;
        }

        img {
            width: 235px;
            height: 154px;

            @media (max-width: 1300px) {
                width: 150px;
                height: 100px;
            }
        }

        h3 {
            display: none;
        }
    }

    .price {
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-top: 53px;

        @media (max-width: 1024px) {
            margin: 50px 60px 0 0;
        }

        @media (max-width: 1000px) {
            margin: -37px 0 0 0;
        }

        @media (max-width: 414px) {
            margin: 0 0 0 -10px;
            display: block;
            position: relative;
            overflow: hidden;
            width: 500px;
        }

        .tables {
            display: block;
            position: absolute;
            overflow: hidden;
            top: 50%;
            margin: -42px -28px 0 0;
            z-index: 9999;
            width: 430px;
            height: 83px;
            background: rgba(112, 82, 44, 0.7);
            opacity: 0.9;
            text-align: center;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;

            @media (max-width: 1400px) {
                margin: -50px 315px 0 200px;
                width: 264px;
            }

            @media (max-width: 1366px) {
                margin: -50px 315px 0 200px;
                width: 264px;
            }

            @media (max-width: 1200px) {
                width: 260px;
                height: 83px;
                margin: -50px 318px 0 194px;
            }

            @media (max-width: 950px) {
                width: 265px;
                margin: -50px 410px 0 290px;
            }

            @media (max-width: 768px) {
                width: 265px;
                margin: -60px 360px 0 250px;
            }

            @media (max-width: 550px) {
                width: 100%;
                margin: -155px 359px 0 241px;
            }

            @media (max-width: 500px) {
                margin: -155px 358px 0 240px;
                background: rgba(112, 82, 44, 0.7);
            }

            @media (max-width: 414px) {
                margin: -156px 358px 0 240px;
                width: 100%;
            }

            @media (max-width: 320px) {
                margin: -155px 356px 0 240px;
                width: 100%;
            }

            p {
                display: inline-block;
                overflow: hidden;
                float: left;
                font-family: Roboto Condensed;
                font-size: 18px;
                line-height: 19px;
                font-style: normal;
                font-weight: normal;
                color: #ffffff;
                padding: 20px 30px 20px 30px;

                @media (max-width: 1400px) {
                    padding: 20px 10px 20px 10px;
                    font-size: 16px;
                }

                @media (max-width: 1200px) {
                    padding: 20px 10px 20px 9px;
                    font-size: 16px;
                }

                @media (max-width: 500px) {
                    margin: 0 -35px 0 50px;
                }

                @media (max-width: 414px) {
                    margin: 0 -35px 0 50px;
                }

                @media (max-width: 411px) {
                    margin: 0 -35px 0 50px;
                }

                @media (max-width: 375px) {
                    margin: 0 -30px 0 40px;
                }

                @media (max-width: 360px) {
                    margin: 0 -30px 0 40px;
                }

                @media (max-width: 320px) {
                    margin: 0 -15px 0 20px;
                }

                &:nth-child(2) {
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                    padding: 20px 30px 20px 30px;
                    font-family: Blogger Sans;
                    font-size: 26px;

                    @media (max-width: 1400px) {
                        padding: 20px 10px 20px 10px;
                        font-family: Blogger Sans;
                        font-size: 24px;
                    }

                    @media (max-width: 1366px) {
                        font-family: Blogger Sans;
                        font-size: 24px;
                    }

                    @media (max-width: 1200px) {
                        font-family: Blogger Sans;
                        font-size: 24px;
                    }
                }
            }
        }

        .cost {
            position: relative;
            display: inline-block;
            overflow: visible;
            width: 430px;
            height: 310px;
            vertical-align: top;
            margin: 0 20px 0 0;
            box-sizing: border-box;

            @media (max-width: 1366px) {
                margin: 0 -80px 0 -30px;
            }

            @media (max-width: 1200px) {
                margin: 0 -87px 0 -15px;
            }

            @media (max-width: 1000px) {
                margin: 0 -50px 0 -50px;
            }

            @media (max-width: 950px) {
                margin: 0 -50px 0 -50px;
                width: 768px;
            }

            @media (max-width: 768px) {
                margin: 0 auto;
                width: 100%;
            }

            @media (max-width: 550px) {
                width: 100%;
                margin: 0 0 -53px 0;
            }

            @media (max-width: 414px) {
                width: 100%;
                margin: 0 0 -26px 0;
            }

            @media (max-width: 400px) {
                width: 100%;
                margin: 0 0 -60px 0;
            }

            @media (max-width: 320px) {
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 -88px 0;
            }

            &:last-child {
                .tables {
                    right: -226px;

                    @media (max-width: 1400px) {
                        right: -358px;
                    }
                }

                .img-box {
                    float: right;
                }

            }

            &:first-child {
                .tables {
                    left: -261px;

                    @media (max-width: 1400px) {
                        left: -240px;
                    }
                }
            }

            .img-box {
                display: block;
                overflow: hidden;
                position: relative;
                z-index: 1;
                width: 430px;
                height: 310px;

                @media (max-width: 1366px) {
                    width: 365px;
                    height: 260px;
                }

                @media (max-width: 1200px) {
                    width: 365px;
                    height: 260px;
                }

                @media (max-width: 950px) {
                    margin: 0 100px 0 100px;
                }

                @media (max-width: 768px) {
                    width: 449px;
                    height: 257px;
                    margin: 0 50px 0 50px;
                }

                @media (max-width: 550px) {
                    margin: 0 auto;
                    width: 550px;
                }

                @media (max-width: 500px) {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                }

                @media (max-width: 414px) {
                    width: 100%;
                    height: 285px;
                    margin: 0 auto;
                }

                @media (max-width: 400px) {
                    width: 100%;
                    height: 250px;
                    margin: 0 auto;
                }

                @media (max-width: 320px) {
                    width: 320px;
                    height: 240px;
                    margin: 0 175px 0 4px
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    .go_top {
        position: relative;
        bottom: -80px;
        right: -56%;
        width: 45px;
        height: 45px;
        display: block;
        overflow: hidden;
        margin: 0 auto;
        z-index: 5;
        cursor: pointer;

        img {
            height: 45px;
            width: 45px;
        }

        @media (max-width: 1920px) {
            display: none;
        }

        @media (max-width: 1400px) {
            display: none;
        }

        @media (max-width: 1300px) {
            display: none;
        }

        @media (max-width: 1280px) {
            display: none;
        }


        @media (max-width: 1024px) {
            display: block;
            position: relative;
            right: -47%;
            top: 100px
        }

        @media (max-width: 768px) {
            display: block;
            position: relative;
            right: -45%;
            top: -55px
        }


        @media (max-width: 500px) {
            display: block;
            position: relative;
            right: -33%;
            top: 3px
        }

        @media (max-width: 414px) {
            display: block;
            position: relative;
            right: -40%;
            top: 3px
        }

        @media (max-width: 375px) {
            display: block;
            position: relative;
            right: -40%;
            top: 4px;
        }

        @media (max-width: 360px) {
            display: block;
            position: relative;
            right: -39%;
            top: 4px;
        }

        @media (max-width: 320px) {
            display: block;
            position: relative;
            right: -38%;
            top: 3px
        }
    }
}
